<div class="md:px-20 px-5">
    <div class="flex flex-col">
        <div class="flex justify-center">
            <img class="rotate-180 md:w-[105px] w-[70px] relative top-5" src="{{site.baseurl}}/assets/images/motif-pixelated.png">
        </div>
        <div class="flex items-center font-[Instrument_Serif] text-white h-20">
            <div class="mx-5 -rotate-20">
                <img class="w-[30px]" src="{{ site.baseurl }}/assets/images/dot_pixelated.png" />
            </div>
            {% if include.year %}
                <div class="lg:text-[2.5rem] text-[1.8rem] mr-6 flex justify-center items-center relative bottom-1 italic">
                year
                </div>
            {% endif %}
            <div class="border-t-1 border-white flex-grow"></div>
            {% if include.year %}
            <div class="lg:text-[2.5rem] text-[1.8rem] ml-6 flex justify-center items-center italic">
                {{ include.year }}
            </div>
            {% endif %}
            <div class="mx-5 rotate-20">
                <img class="w-[30px]" src="{{ site.baseurl }}/assets/images/dot_pixelated.png" />
            </div>
        </div>
        <div class="flex justify-center">
            <img class="relative bottom-5 md:w-[105px] w-[70px]" src="{{site.baseurl}}/assets/images/motif-pixelated.png">
        </div>
    <div>
    <div class="flex justify-around lg:text-[2.2rem] text-[1.5rem] px-5 mb-10">
        <div class="grow">
        Saniya Murdeshwar 
        </div>
        <div class="flex flex-row-reverse grow gap-[4%]">
            <a class="group" href="https://www.behance.net/saniyamurdesh">
                <div class="flex flex-row-reverse text-right">
                    behance
                    <img class="w-[30px] object-scale-down" src="{{site.baseurl}}/assets/images/link_white.png">
                </div>
                <div class="h-0 group-hover:w-full w-0 transition-all border-b-1 border-solid border-white">
                </div>
            </a>
            <a class="group" href="https://www.instagram.com/saniyaa_murdeshwar/">
                <div class="flex flex-row-reverse text-right">
                    instagram
                    <img class="w-[30px] object-scale-down" src="{{site.baseurl}}/assets/images/link_white.png">
                </div>
                <div class="h-0 group-hover:w-full w-0 transition-all border-b-1 border-solid border-white">
                </div>
            </a>
            <a class="group" href="https://www.linkedin.com/in/saniya-murdeshwar-436b78271/">
                <div class="flex flex-row-reverse text-right">
                    linkedin
                    <img class="w-[30px] object-scale-down" src="{{site.baseurl}}/assets/images/link_white.png">
                </div>
                <div class="h-0 group-hover:w-full w-0 transition-all border-b-1 border-solid border-white">
                </div>
            </a>
        </div>
    </div>
</div>