<div class="font-[Instrument_Serif] italic w-full h-[50px] md:text-[24px] text-[18px] text-white flex items-center justify-center my-8">
    <div class="flex flex-row items-center">
        <div class="select-none">
            <a class="group" href="{{site.baseurl}}/">
                home
                <div class="h-0 group-hover:w-full w-0 transition-all border-b-1 border-solid border-white">
                </div>
            </a>
        </div>
        <div class="h-full w-[15px] aspect-square mx-5">
            <img src="{{site.baseurl}}/assets/images/dot_pixelated.png" />
        </div>
        <div class="select-none">
            <a class="group" href="/index.html#works">
                works
                <div class="h-0 group-hover:w-full w-0 transition-all border-b-1 border-solid border-white">
                </div>
            </a>
        </div>
        <div class="h-full w-[15px] aspect-square mx-5">
            <img src="{{site.baseurl}}/assets/images/dot_pixelated.png" />
        </div>
        <div class="select-none">
            <a class="group" href="{{site.baseurl}}/contact">
                contact
                <div class="h-0 group-hover:w-full w-0 transition-all border-b-1 border-solid border-white">
                </div>
            </a>
        </div>
        <div class="h-full w-[15px] aspect-square mx-5">
            <img src="{{site.baseurl}}/assets/images/dot_pixelated.png" />
        </div>
        <div class="select-none">
            <a class="group" href="{{site.baseurl}}/">
                about me
                <div class="h-0 group-hover:w-full w-0 transition-all border-b-1 border-solid border-white">
                </div>
            </a>
        </div>
    </div>
</div>